<% include header %>

<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>

<script>
/*  Import Data                         */
/*  __________________________________  */
function getData() {
    "use strict"
    var data = {
        temp: [<%- data.temp %>].slice(Math.max([<%- data.temp %>].length - 48, 0)),
        date: [<%- data.date %>].slice(Math.max([<%- data.date %>].length - 48, 0))
        };
    return data;
};
</script>

<% include footer %>
